html, body{
  margin: 0;
  padding-left: 10%;
  font-family: 'Great Vibes', cursive;
}
.cus-div{
  width: 80%;
  position: relative;
  
}
.wrapper{
  margin-top: 150px;
  margin-bottom: 300px;
  
}
#skew1{
  border-radius: 25px;
  background: url(image1.jpeg);
  -webkit-backgroung-size: cover;
  background-size: cover;
  background-position: center center;
  z-index: 10;
  
}
#skew2{
  background: url(image2.jpeg);
  z-index: 9;
}
#skew3{
  background: url(image3.jpeg);
  z-index: 8;
}
#skew4{
  background: url(image4.jpeg);
  z-index: 7;
}
#skew5{
  background: url(image5.jpeg);
  z-index: 6;
}
#skew6{
  background: url(image6.jpeg);
  z-index: 5;
}
#skew7{
  background: url(image7.jpeg);
  z-index: 4;
}
#skew8{
  background: url(image8.jpeg);
  z-index: 3;
}
#skew9{
  background: url(image9.jpeg);
  z-index: 2;
}
#skew10{
  background: url(image10.jpeg);
  z-index: 1;
}
.cus-div:after{
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  bottom: 0;
  content: '';
}
#skew2:after,#skew3:after,#skew4:after,#skew5:after,
#skew6:after,#skew7:after,#skew8:after,#skew9:after,#skew10:after{
  transform-origin: right bottom ;
  transform: skewY(-4deg);
}
#skew1:after{
  border-top-right-radius: 25px;
  transform-origin: right bottom ;
  transform: skewY(-4deg);

}
.content{
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  padding: 200px 50px;
  overflow: hidden;
  display: block;
  height: auto;
}
P.drop-cap:first-letter {
  font-size: 4.5em;
  float: left;
  margin-top: .15em;
}